
HACBS Enterprise Contract Policies
==================================

About
-----

The HACBS Enterprise Contract is a Tekton task that can be used to verify the
provenence of container images built in HACBS and validate them against a set of
policies.

Those policies are defined using
[rego](https://www.openpolicyagent.org/docs/latest/policy-language/) and are
described here.

{{ $p2_stash := "" }}
{{ $p3_stash := "" }}
{{ range (datasource "input").annotations }}

{{ $p1 := (index (index .path 1) "value") }}
{{ $p2 := (index (index .path 2) "value") }}

{{/* Skip annotations that are not rule annotations */}}
{{ if eq .annotations.scope "rule" }}
{{/* Skip rules that are not under data.policy */}}
{{ if eq $p1 "policy" }}

{{/* Show a heading for either "Release" or "Pipeline" */}}
{{ if ne $p2 $p2_stash }}

{{ $p2 | strings.Title }} Policy
---------------

{{ $p2_stash = $p2 }}
{{ end }}

{{ $p3 := (index (index .path 3) "value") }}

{{/* Show a heading for each separate package */}}
{{ if ne $p3 $p3_stash }}
### {{ $p3 | regexp.Replace "_" " " | strings.Title }} Rules
{{ $p3_stash = $p3 }}
{{ end }}

#### `[{{ .annotations.custom.short_name }}]` {{ .annotations.title }}

{{.annotations.description}}

{{/* Special handling */}}
{{ if has .annotations.custom "allowed_registry_prefixes" }}
The permitted registry prefixes are:

```
{{- range .annotations.custom.allowed_registry_prefixes }}
{{ . }}{{ end }}
```

{{ end }}

* Path: `{{ range $i, $v := .path }}{{ if ne 0 $i }}.{{ end }}{{ $v.value }}{{ end }}`
* Failure message: `{{ .annotations.custom.failure_msg }}`
* [Source](https://github.com/hacbs-contract/ec-policies/blob/main/policy/{{ regexp.Find "[a-z_]+\\.rego$" .location.file }}#L{{ .location.row }})
{{ if coll.Has .annotations.custom "effective_on" }}* Effective from: {{ .annotations.custom.effective_on }}{{ end }}

{{ end }}{{/* if eq $p1 ... */}}
{{ end }}{{/* if eq .annotations ... */}}
{{ end }}{{/* range ... */}}

See Also
--------

* ["Verify Enterprise Contract" task definition](https://github.com/redhat-appstudio/build-definitions/blob/main/tasks/verify-enterprise-contract.yaml)
* [github.com/hacbs-contract/ec-policies](https://github.com/hacbs-contract/ec-policies)
* [github.com/hacbs-contract](https://github.com/hacbs-contract)
* [github.com/redhat-appstudio](https://github.com/redhat-appstudio/)
