{{ template "templates/edit_warning.adoc.tmpl" }}

{{ template "templates/adoc_conf.adoc.tmpl" }}

= HACBS Enterprise Contract Policies

== About

The HACBS Enterprise Contract is a Tekton task that can be used to verify the
provenence of container images built in HACBS and validate them against a set of
policies.

Those policies are defined using the
https://www.openpolicyagent.org/docs/latest/policy-language/[rego policy language]
and are described here.

{{ template "templates/rules.adoc.tmpl" "release" }}

{{ template "templates/rules.adoc.tmpl" "pipeline" }}

See Also
--------

* https://red-hat-hybrid-application-cloud-build-services-documentation.pages.redhat.com/hacbs-documentation/[HACBS Documentation]
* https://github.com/redhat-appstudio/build-definitions/blob/main/tasks/verify-enterprise-contract.yaml["Verify Enterprise Contract" task definition]
* https://github.com/hacbs-contract/ec-policies[github.com/hacbs-contract/ec-policies]
* https://github.com/hacbs-contract[github.com/hacbs-contract]
* https://github.com/redhat-appstudio[github.com/redhat-appstudio]
