{{ template "templates/edit_warning.adoc.tmpl" }}

{{ template "templates/adoc_conf.adoc.tmpl" }}

= Pipeline Policy

These rules are applied to Tekton pipeline definitions.

{{ template "templates/rules.adoc.tmpl" "pipeline" }}
