{{ template "templates/edit_warning.adoc.tmpl" }}

{{ template "templates/adoc_conf.adoc.tmpl" }}

= Release Policy

These rules are applied to pipeline run attestations associated with
container images built by HACBS.

{{ template "templates/rules.adoc.tmpl" "release" }}
