---
name: npm-publish-antora-extension

"on":
  push:
    branches:
    - main
    paths:
    - 'antora/ec-policies-antora-extension/**'

permissions:
  contents: read

jobs:
  release-antora-extension:
    name: Release to NPM
    runs-on: ubuntu-latest

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
      with:
        egress-policy: audit
        disable-telemetry: true

    - name: Checkout code
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

    - name: Setup node
      uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
      with:
        cache: 'npm'
        cache-dependency-path: 'antora/ec-policies-antora-extension/package-lock.json'
        node-version-file: 'antora/ec-policies-antora-extension/package.json'

    - name: Publish npm package
      run: make npm-publish
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
